.flex {
  display: flex;
  justify-content: center;
}

body {
  flex-direction: column;
  height: 100svh;
}
div {
  align-items: center;
}
div > * {
  margin: 0 1rem;
}
canvas {
  display: none;
}
img {
  border: solid 1px var(--pico-primary-border);
  /* background-color: var(--pico-primary-border); */
  width: 200px;
  height: 200px;
}

div > span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
}

label.number,
select {
  width: 15ch;
}
label.number:last-child > input {
  margin-bottom: 0;
}

main > span {
  position: relative;
  display: block;
}
textarea {
  resize: none;
  word-wrap: break-word;
  word-break: break-word;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-right: 17px;
}
button {
  position: absolute;
  width: max-content;
  height: max-content;
  padding: 5px;
  bottom: 1.5rem;
  right: 2rem;
  line-height: 1rem;
  padding-top: 0.4rem;
}
.help {
  position: relative;
  top: -0.2rem;
  display: none;
  width: 8ch;
  overflow: hidden;
  text-wrap: nowrap;
}
/* from my main page */
.sass {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}
.sass span {
  height: 40px;
}
.sass:hover div {
  opacity: 1;
  width: 350px;
  padding: 2rem;
  border: 5px solid white;
  transition: opacity 0.3s linear, width 0.3s linear, padding 0s linear,
    border 0s linear;
}
.sass > div {
  position: absolute;
  line-height: 2rem;
  bottom: 0;
  right: 0;
  width: 0;
  height: 65ch;
  background: #0c0c0c;
  padding: 0;
  border: 0px solid white;
  transition: opacity 0.3s linear, width 0.3s linear, padding 0s linear 0.3s,
    border 0s linear 0.3s;
  border-radius: 1rem;
  opacity: 0;
  overflow: hidden;
}

.sass > div > ul {
  z-index: 3;
  position: absolute;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}
@keyframes helpRoll {
  0% {
    display: inline-block;
    width: 0ch;
  }
  25% {
    display: inline-block;
    width: 8ch;
  }
  75% {
    display: inline-block;
    width: 8ch;
  }
  100% {
    display: inline-block;
    width: 0ch;
  }
}
dialog * {
  margin: initial;
}
dialog header button {
  position: inherit;
  border: initial;
  float: right;
}
dialog fieldset {
  display: flex;
  margin-bottom: 0.5rem;
}
dialog fieldset div {
  margin-right: 2rem;
}

dialog #picker fieldset,
dialog #picker #pickerArea,
dialog #picker #pickerArea div {
  display: flex;
}

dialog #picker fieldset,
dialog #picker #pickerArea,
dialog #picker input[type="text"] {
  margin: 5px 0;
}

dialog #picker #pickerArea {
  max-height: 50vh;
  overflow: auto;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

dialog #picker #pickerArea div {
  flex-direction: column;
  padding: 5px;
  border: solid 1px white;
  margin: 5px;
  width: 5rem;
  height: 5rem;
  align-items: center;
  justify-content: center;
}
dialog #picker #pickerArea div:hover {
  color: white;
  background: gray;
  cursor: pointer;
}

dialog #picker #pickerArea div .icon {
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
}
dialog #picker #pickerArea div .name {
  font-size: 1rem;
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
  display: inline-block;
  height: fit-content;
}
dialog .notFound {
  text-align: center;
}
dialog .notFound h3 {
  font-size: 100px;
  opacity: 0.7;
}
dialog .notFound span {
  font-size: 20px;
}

@media screen and (width <= 1025px) {
  .container .flex {
    flex-wrap: wrap;
    align-items: center;
  }
  .outputDiv {
    flex: 1 0 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
  }
}
